body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-grow: 1;
  overflow: auto;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

#reload-button {
  background-color: #007bff;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}

#reload-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 9px;
  }
}
